#movies
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#movies .item
{
    background-color: #EEE;
    padding: 5px;
}

#movies .image
{
    background-color: #000;
    display: flex;
    justify-content: center;
    width: 96px;
}

#movies .image img
{
    height: 128px;
}