.user_panel
{
    display: flex;
    gap: 10px;
    justify-content: end;
    margin: auto;
    padding: 5px;
    width: var(--layout-width);
}

.user_panel .logout
{
    align-items: center;
    background-color: #555;
    border-radius: 5px;
    display: flex;
    padding: 5px 10px;
}

.steam_card
{
    align-items: center;
    background-color: #136;
    border: none;
    border-radius: 5px;
    color: #FFF;
    display: flex;
    font-weight: bold;
    gap: 5px;
    height: 38px;
    padding: 5px;
}

.steam_card.connect:hover
{
    background-color: #247;
    color: #FFF;
}

.steam_card.connect img
{
    height: 100%;
}

.steam_card.connected img
{
    border-radius: 5px;
}

#search
{
    display: flex;
    gap: 5px;
    margin: auto;
    padding: 10px var(--padding-side);
    width: var(--layout-width);
}

#search input
{
    background-color: #222;
    border: 1px solid #777;
    color: #CCC;
    padding: 10px;
    width: 100%;
}

#search button
{
    border: none;
    border-radius: 5px;
    background-color: #777;
    color: #FFF;
    padding: 10px;
}

#search button:hover
{
    background-color: #555;
}

#movies, #movie, #friends
{
    margin: auto;
    width: var(--layout-width);
}

#movies.flex
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#movies.grid
{
    display: grid;
    gap: 5px;
    padding: 0 var(--padding-side);
}

#movies .image
{
    background-color: #000;
    display: flex;
    height: 128px;
    justify-content: center;
    width: 96px;
}

#movies .image img
{
    height: 128px;
}

#movies .info
{
    background-color: #333;
    flex: 1;
    padding: 5px;
}

#my_movie_list
{
    margin: auto;
    width: var(--layout-width);
}

#my_movie_list .grid
{
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 10px;
    padding: 0 var(--padding-side);
}

#my_movie_list .title_br
{
    font-size: var(--min-font-size);
}

#my_movie_list .image
{
    background-color: #000;
    display: flex;
}

#my_movie_list .image a
{
    display: flex;
    justify-content: center;
    width: 120px;
}

#my_movie_list img
{
    height: 160px;
}

#my_movie_list .icon
{
    align-items: center;
    background-color: #EB0;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    padding: 5px;
    text-align: center;
}

#my_movie_list .icon.friend
{
    background-color: #CCC;
}

#my_movie_list .icon img
{
    height: 16px;
    width: 16px;
}

#my_movie_list .icon_rating
{
    background-color: #EB0;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    height: 26px;
    padding: 5px;
    text-align: center;
    width: 26px;
}

#my_movie_list .icon_rating.friend
{
    background-color: #CCC;
}

#my_movie_list .disable
{
    opacity: 0.1;
    pointer-events: none;
}

#my_movie_list_checkbox
{
    margin: auto;
    padding: 5px 0;
    width: var(--layout-width);
}

#my_movie_list_checkbox div
{
    background-color: #333;
    padding: 5px;
}

#friends
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#friends .item
{
    background-color: #333;
}

#friends .item .image
{
    display: flex;
}

@media (min-width: 1600px)
{
    #movie
    {
        display: flex;
        gap: 10px;
    }

    #movies.grid
    {
        grid-template-columns: repeat(2, 1fr);
    }
}