#movies
{
    padding: 10px;
}

#movies .flex
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#movies .grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#movies .item
{
    padding: 5px;
}

#movies .image
{
    background-color: #000;
    display: flex;
    height: 128px;
    justify-content: center;
    width: 96px;
}

#movies .image img
{
    height: 128px;
}