.user_panel
{
    display: flex;
    gap: 5px;
    justify-content: end;
    margin: auto;
    padding: 5px;
    width: var(--layout-width);

    & #menu_mobile
    {
        background-color: #FFF;
        border-radius: 5px;
        padding: 5px;

        & label
        {
            background: no-repeat center/32px url("icon_menu.png");
            display: block;
            height: 32px;
            width: 32px;
        }

        & input
        {
            display: none;
        }

        &:has(input:checked) ~ nav
        {
            background-color: #FFF;
            display: flex;
            flex-direction: column;
            left: 0;
            padding: 10px;
            position: absolute;
            top: 52px;
            width: 100%;
            z-index: 9999;
        }
    }

    & nav
    {
        display: none;
        gap: 5px;
    }

    & a
    {
        align-items: center;
        background-color: #024;
        border-radius: 5px;
        display: flex;
        padding: 5px 10px;
        
        &:hover
        {
            background-color: #135;
            color: #FFF;
        }
    }

    & .steam_connected
    {
        align-items: center;
        background-color: #136;
        border-radius: 5px;
        display: flex;
        gap: 5px;
        padding: 5px;

        & .avatar
        {
            display: flex;
            
            & img
            {
                border-radius: 5px;
                height: 32px;
                width: 32px;
            }
        }

        & .personaname
        {
            font-weight: bold;
        }
    }

    & .logout
    {
        background-color: #555;
    }
}

.steam_disconnected
{
    align-items: center;
    background-color: #136;
    border-radius: 5px;
    color: #FFF;
    display: flex;
    font-weight: bold;
    gap: 5px;
    padding: 5px;

    &:hover
    {
        background-color: #247;
        color: #FFF;
    }

    & img
    {
        height: 32px;
    }
}

#search
{
    display: flex;
    gap: 5px;
    margin: auto;
    padding: 10px var(--padding-side);
    width: var(--layout-width);

    & input
    {
        background-color: #222;
        border: 1px solid #777;
        color: #CCC;
        padding: 10px;
        width: 100%;
    }

    & button
    {
        border: none;
        border-radius: 5px;
        background-color: #777;
        color: #FFF;
        padding: 10px;

        &:hover
        {
            background-color: #555;
        }
    }

    & select
    {
        appearance: none;
        background-color: #222;
        border: 1px solid #777;
        color: #CCC;
        padding: 10px;
    }
}

.item
{
    .label
    {
        color: #999;
    }

    .title
    {
        font-weight: bold;
    }
}

#movies, #movie, #friends, .pagination, #achievements
{
    margin: auto;
    padding: var(--padding-side);
    width: var(--layout-width);
}

#movie
{
    .title, .title_br
    {
        font-size: 18px;
    }

    .cast_container
    {
        background-color: #333;
        padding: 5px;

        .actor
        {
            width: 96px;

            .image img
            {
                border-radius: 5px;
            }

            .character
            {
                color: #999;
            }
        }
    }
}

#movies
{
    &.grid
    {
        display: grid;
        gap: 5px;
        padding: 0 var(--padding-side);
    }

    .image
    {
        background-color: #000;
        display: flex;
        height: 128px;
        justify-content: center;
        width: 96px;

        img
        {
            height: 128px;
        }
    }

    .info
    {
        background-color: #333;
        flex: 1;
        padding: 5px;
    }

    .director
    {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

#userlist
{
    margin: auto;
    width: var(--layout-width);

    .grid
    {
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        gap: 10px;
        padding: 0 var(--padding-side);
    }

    .title
    {
        font-size: var(--min-font-size);
    }

    .image
    {
        background-color: #000;
        display: flex;
    }

    .image a
    {
        display: flex;
        justify-content: center;
        width: 120px;

        img
        {
            height: 160px;
        }
    }

    .icon
    {
        align-items: center;
        background-color: #EB0;
        border-radius: 5px;
        display: flex;
        gap: 5px;
        padding: 5px;
        text-align: center;

        &.friend
        {
            background-color: #CCC;
        }

        img
        {
            height: 16px;
            width: 16px;
        }
    }

    .icon_rating
    {
        background-color: #EB0;
        border-radius: 5px;
        color: #000;
        font-weight: bold;
        height: 26px;
        padding: 5px;
        text-align: center;
        width: 26px;

        &.friend
        {
            background-color: #CCC;
        }
    }

    .disable
    {
        opacity: 0.1;
        pointer-events: none;
    }
}

#userlist_checkbox
{
    margin: auto;
    padding: 5px 0;
    width: var(--layout-width);

    div
    {
        background-color: #333;
        padding: 5px;
    }
}

#friends
{
    display: flex;
    flex-direction: column;
    gap: 5px;

    .item
    {
        background-color: #333;
    }

    .item .image
    {
        display: flex;

        img
        {
            height: 64px;
            width: 64px;
        }
    }
}

#achievements
{
    .item
    {
        background-color: #333;
        padding: 5px;

        .title
        {
            font-weight: bold;
        }

        .description
        {
            color: #CCC;
        }
    }

    img
    {
        border-radius: 5px;
        filter: saturate(0);
        height: 64px;
        width: 64px;
    }

    .progress
    {
        background-color: #777;
        border-radius: 5px;

        .progress_bar
        {
            border-radius: 5px;
            height: 20px;
            padding: 2px 5px;
            text-align: center;
        }
    }

    .unlock img
    {
        filter: saturate(1);
    }
}

@media (min-width: 1600px)
{
    .user_panel
    {
        #menu_mobile
        {
            display: none;
        }

        nav
        {
            display: flex;
        }
    }

    #movies.grid
    {
        grid-template-columns: repeat(2, 1fr);
    }
}