*
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root
{
    --body-font-size: 16px;
    --columns: 2;
    --layout-width: 100%;
    --min-font-size: 16px;
    --padding-side: 5px;
}

@media (min-width: 1600px)
{
    :root
    {
        --body-font-size: 14px;
        --columns: 8;
        --layout-width: 1600px;
        --min-font-size: 12px;
        --padding-side: 0;
    }
}

body
{
    background-color: #222;
    color: #FFF;
    font-size: var(--body-font-size);
    margin: 0;
}

body, button, input, label, select
{
    font-size: var(--body-font-size);
}

a
{
    color: #FFF;
    text-decoration: none;
}

button, input, select
{
    border: 1px solid #CCC;
    padding: 10px 5px;
}

button.icon
{
    align-items: center;
    background-color: #DDD;
    border: none;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    padding: 5px;
}

button.icon.selected
{
    background-color: #333;
}

button.icon:hover
{
    background-color: #486077;
}

button.icon img
{
    height: 32px;
    width: 32px;
}

button.star
{
    align-items: center;
    background: #DDD no-repeat center/32px url('black_star.png');
    border: none;
    border-radius: 5px;
    height: 42px;
    width: 42px;
}

button.star.starred
{
    background-image: url('yellow_star.png');
}

button.star:hover
{
    background-color: #486077;
}

input[type="checkbox"]
{
    appearance: none;
    background-color: #222;
    border: 1px solid #FFF;
    display: block;
    height: 22px;
    margin: 0;
    width: 22px;
}

input[type="checkbox"]:checked
{
    appearance: auto;
    accent-color: #FFF;
}

label
{
    color: #CCC;
}


.flex_column
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.flex_row.hcenter
{
    justify-content: center;
}

.flex_column.vcenter
{
    align-items: center;
}

.flex_row
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.flex_row.hcenter
{
    align-items: center;
}

.flex_row.vcenter
{
    justify-content: center;
}

nav
{
    display: flex;
    gap: 10px;
    margin: auto;
    width: var(--layout-width);
}

nav a
{
    background-color: #0a2b4b;
    font-weight: bold;
    padding: 10px;
}