*
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root
{
    --body-font-size: 16px;
    --columns: 2;
    --form-width: 100%;
    --layout-width: 100%;
    --min-font-size: 16px;
    --padding-side: 5px;
}

@media (min-width: 1600px)
{
    :root
    {
        --body-font-size: 14px;
        --columns: 8;
        --form-width: 400px;
        --layout-width: 1600px;
        --min-font-size: 12px;
        --padding-side: 0;
    }
}

body
{
    background-color: #222;
    color: #FFF;
    font-size: var(--body-font-size);
    margin: 0;
}

body, button, input, label, select, textarea
{
    font-size: var(--body-font-size);
}

a
{
    color: #FFF;
    text-decoration: none;

    &:hover
    {
        color: #999;
        text-decoration: none;
    }
}

button, input, select
{
    border: 1px solid #CCC;
    padding: 10px 5px;
}

button.icon
{
    align-items: center;
    background-color: #DDD;
    border: none;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    padding: 5px;

    &:hover
    {
        background-color: #486077;
    }

    & img
    {
        height: 32px;
        width: 32px;
    }

    &.selected
    {
        background-color: #333;
    }
}

button.star
{
    align-items: center;
    background: #DDD no-repeat center/32px url('black_star.png');
    border: none;
    border-radius: 5px;
    height: 42px;
    width: 42px;

    &:hover
    {
        background-color: #486077;
    }

    &.starred
    {
        background-image: url('yellow_star.png');
    }
}

input[type="checkbox"]
{
    appearance: none;
    background-color: #222;
    border: 1px solid #FFF;
    display: block;
    height: 22px;
    margin: 0;
    width: 22px;
}

input[type="checkbox"]:checked
{
    appearance: auto;
    accent-color: #FFF;
}

label
{
    color: #CCC;
}

.flex_column
{
    display: flex;
    flex-direction: row;
    gap: 5px;

    &.hcenter
    {
        justify-content: center;
    }

    &.vcenter
    {
        align-items: center;
    }
}

.flex_row
{
    display: flex;
    flex-direction: column;
    gap: 5px;

    &.hcenter
    {
        align-items: center;
    }

    &.vcenter
    {
        justify-content: center;
    }
}

.forms
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    padding: var(--padding-side);
    width: var(--form-width);

    button
    {
        background-color: #DDD;
        border: none;
        border-radius: 5px;

        &:hover
        {
            background-color: #CCC;
        }
    }

    input, textarea
    {
        background-color: #333;
        border: 1px solid #999;
        color: #FFF;
        padding: 10px;
    }
}

#app
{
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: min-content auto 100px;
    min-height: 100svh;
}

nav.main
{
    display: flex;
    gap: 5px;
    padding: 0 var(--padding-side);

    a
    {
        background-color: #024;
        font-weight: bold;
        padding: 10px;

        &:hover
        {
            background-color: #135;
            color: #FFF;
        }
    }
}

@media (min-width: 1600px)
{
    nav.main
    {
        margin: auto;
        width: var(--layout-width);
    }
}