<div id="friends">
    <h1>Meus amigos</h1>
    <div class="container"></div>
</div>

<template>
    <div class="item flex_column">
        <div class="image">
            <img />
        </div>
        <div class="content">
            <div>
                <div class="personaname"></div>
            </div>
            <div class="links flex_column">
                <div class="movies">
                    <a>Filmes</a>
                </div>
                <div class="games">
                    <a>Jogos</a>
                </div>
                <div class="achievements">
                    <a>Conquistas</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

const container = document.querySelector('#friends .container');
const template = document.querySelector('template');
const url = new URL('api/v1/user/friends', document.baseURI);

getJSON();

function render({ friends })
{
    if (!friends.length)
    {
        container.innerHTML = 'Os serviços da Steam podem estar fora do ar ou o seu perfil está bloqueando a visualização de amigos.';
        return;
    }

    container.innerHTML = '';

    friends.forEach(item =>
    {
        const clone = template.content.cloneNode(true);

        clone.querySelector('img').src =  `https://avatars.steamstatic.com/${item.avatarhash}_medium.jpg`;
        clone.querySelector('.personaname').textContent = item.personaname;
        clone.querySelector('.movies a').href = `friends/movielist/${item.id}`;
        clone.querySelector('.games a').href = `friends/gamelist/${item.id}`;
        clone.querySelector('.achievements a').href = `friends/achievements/${item.id}`;

        container.appendChild(clone);
    });
}

</script>