<div id="friends"></div>

<template>
    <div class="item flex_column">
        <div class="image">
            <img />
        </div>
        <div class="flex_row">
            <div>
                <div class="personaname"></div>
            </div>
            <div class="movies">
                <a>Filmes</a>
            </div>
            <div class="games">
                <a>Jogos</a>
            </div>
        </div>
    </div>
</template>

<script>

const container = document.getElementById('friends');
const template = document.querySelector('template');
const url = new URL('api/v1/user/friends', document.baseURI);

getJSON();

function render({ friends })
{
    container.innerHTML = '';

    friends.forEach(item =>
    {
        const clone = template.content.cloneNode(true);

        clone.querySelector('img').src =  `https://avatars.steamstatic.com/${item.avatarhash}_medium.jpg`;
        clone.querySelector('.personaname').textContent = item.personaname;
        clone.querySelector('.movies a').href = `friends/movielist/${item.id}`;
        clone.querySelector('.games a').href = `friends/gamelist/${item.id}`;

        container.appendChild(clone);
    });
}

</script>