<div class="flex_row" id="userlist_checkbox">
    <div class="flex_column vcenter">
        <input data-filter="playlist" id="playlist_checkbox" type="checkbox" />
        <label for="playlist_checkbox">Quer jogar</label>
    </div>        
    <div class="flex_column vcenter">
        <input data-filter="played" id="played_checkbox" type="checkbox" />
        <label for="played_checkbox">Jogou</label>
    </div>
    <div class="flex_column vcenter">
        <input data-filter="liked" id="liked_checkbox" type="checkbox" />
        <label for="liked_checkbox">Gostou</label>
    </div>
    <div class="flex_column vcenter">
        <input data-filter="rating" id="rating_checkbox" type="checkbox" />
        <label for="rating_checkbox">Melhor avaliou</label>
    </div>
</div>
<div id="userlist">
    <div class="grid"></div>
</div>
<template>
    <div class="item flex_row">
        <div class="flex_column">
            <div class="image">
                <a href="">
                    <img alt="" src="" />
                </a>
            </div>

            <div class="flex_row">
                <div class="flex_column">
                    <div aria-label="Quer jogar" class="icon friend friend_playlist" title="Quer jogar">
                        <img alt="" src="saved.png" />
                    </div>
                    <div aria-label="Quero jogar" class="icon playlist" title="Quero jogar">
                        <img alt="" src="saved.png" />
                    </div>
                </div>

                <div class="flex_column">
                    <div aria-label="Já jogou" class="icon friend friend_played" title="Já jogou">
                        <img alt="" src="watched.png" />
                    </div>
                    <div aria-label="Joguei" class="icon played" title="Joguei">
                        <img alt="" src="watched.png" />
                    </div>
                </div>

                <div class="flex_column">
                    <div aria-label="Gostou" class="icon friend friend_liked" title="Gostou">
                        <img alt="" src="liked.png" />
                    </div>
                    <div aria-label="Gostei" class="icon liked" title="Gostei">
                        <img alt="" src="liked.png" />
                    </div>
                </div>

                <div class="flex_column">
                    <div aria-label="Avaliação" class="icon_rating friend friend_rating" title="Avaliação"></div>
                    <div aria-label="Minha avaliação" class="icon_rating rating" title="Minha avaliação"></div>
                </div>
            </div>
        </div>
        <div class="flex_row">
            <div>
                <div class="title"></div>
            </div>
        </div>
    </div>
</template>

<script>

const friend_id = routeSegments[2];
const container = document.querySelector('#userlist .grid');
const template = document.querySelector('template');
const url = new URL(`api/v1/userlist/games/${friend_id}`, document.baseURI);
const searchParams = url.searchParams;

const render = function({ games })
{
    if (!games.length)
    {
        container.innerHTML = '<div class="centralizado">Não foram encontrados jogos nesta lista.</div>';

        return;
    }

    container.innerHTML = '';

    const disable = (clone, selector, condition = true) =>
    {
        const element = clone.querySelector(selector);

        if (condition)
        {
            element.classList.add('disable');
        }
    }

    games.forEach(item =>
    {
        const clone = template.content.cloneNode(true);

        clone.querySelector('a').href = `game/${item.id}`;
        clone.querySelector('.image img').src = item.media?.trim() ? `images/games/256/${item.media}.webp` : 'noimage.png';
        clone.querySelector('.title').textContent =  item.title;

        if (!item.playlist)
        {
            disable(clone, '.friend_playlist');
        }

        disable(clone, '.friend_played', !item.played);
        disable(clone, '.friend_liked', !item.liked);

        if (item.rating)
        {
            clone.querySelector('.friend_rating').textContent = item.rating;
        }
        else
        {
            disable(clone, '.friend_rating');
        }

        /* minha lista */

        if (!item.gl_playlist || item.gl_played)
        {
            disable(clone, '.playlist');
        }

        disable(clone, '.played', !item.gl_played);
        disable(clone, '.liked', !item.gl_liked);

        if (item.gl_rating)
        {
            clone.querySelector('.rating').textContent = item.gl_rating;
        }
        else
        {
            disable(clone, '.rating');
        }

        container.appendChild(clone);
    });
}

document.querySelectorAll('#playlist_checkbox, #played_checkbox, #liked_checkbox, #rating_checkbox').forEach(item =>
{
    item.addEventListener('click', () =>
    {
        if (item.checked)
        {
            searchParams.set(item.dataset.filter, 1);
        }
        else
        {
            searchParams.delete(item.dataset.filter);
        }

        getJSON();
    });
});

getJSON();

</script>