<div id="userlist">
    <div class="filter flex_row">
        <div class="flex_column vcenter">
            <input data-filter="watchlist" id="watchlist_checkbox" type="checkbox" />
            <label for="watchlist_checkbox">Filmes que seu amigo quer assistir</label>
        </div>        
        <div class="flex_column vcenter">
            <input data-filter="watched" id="watched_checkbox" type="checkbox" />
            <label for="watched_checkbox">Filmes que seu amigo assistiu</label>
        </div>
        <div class="flex_column vcenter">
            <input data-filter="liked" id="liked_checkbox" type="checkbox" />
            <label for="liked_checkbox">Filmes que seu amigo gostou</label>
        </div>
        <div class="flex_column vcenter">
            <input data-filter="rating" id="rating_checkbox" type="checkbox" />
            <label for="rating_checkbox">Filmes que seu amigo melhor avaliou</label>
        </div>
    </div>
    <div class="container compare"></div>
</div>
<template>
    <div class="item flex_row">
        <div class="flex_column">
            <div class="image">
                <a href="">
                    <img alt="" src="" />
                </a>
            </div>

            <div class="flex_row">
                <div class="flex_column">
                    <div aria-label="Quer assistir" class="icon watchlist friend" title="Quer assistir"></div>
                    <div aria-label="Quero assistir" class="icon watchlist me" title="Quero assistir"></div>
                </div>

                <div class="flex_column">
                    <div aria-label="Já assistiu" class="icon watched friend" title="Já assistiu"></div>
                    <div aria-label="Já assisti" class="icon watched me" title="Já assisti"></div>
                </div>

                <div class="flex_column">
                    <div aria-label="Gostou" class="icon liked friend" title="Gostou"></div>
                    <div aria-label="Gostei" class="icon liked me" title="Gostei"></div>
                </div>

                <div class="flex_column">
                    <div aria-label="Avaliação" class="icon rating friend" title="Avaliação"></div>
                    <div aria-label="Minha avaliação" class="icon rating me" title="Minha avaliação"></div>
                </div>
            </div>
        </div>
        <div class="flex_row">
            <div>
                <div class="title title_br"></div>
            </div>
        </div>
    </div>
</template>

<script>

const friend_id = routeSegments[2];
const container = document.querySelector('#userlist .container');
const template = document.querySelector('template');
const url = new URL(`api/v1/userlist/movies/${friend_id}`, document.baseURI);
const searchParams = url.searchParams;

const render = function({ movies })
{
    if (!movies.length)
    {
        container.innerHTML = '<div class="centralizado">Não foram encontrados filmes nesta lista.</div>';

        return;
    }

    container.innerHTML = '';

    const disable = (clone, selector, condition = true) =>
    {
        const element = clone.querySelector(selector);

        if (condition)
        {
            element.classList.add('disable');
        }
    }

    movies.forEach(item =>
    {
        const clone = template.content.cloneNode(true);

        clone.querySelector('a').href = `movie/${item.id}/${item.title_url}`;
        clone.querySelector('.image img').src = item.media?.trim() ? `images/256/${item.media}.webp` : 'noimage.png';
        clone.querySelector('.title_br').textContent =  item.title_br;

        if (!item.watchlist)
        {
            disable(clone, '.watchlist.friend');
        }

        disable(clone, '.watched.friend', !item.watched);
        disable(clone, '.liked.friend', !item.liked);

        if (item.rating)
        {
            clone.querySelector('.rating.friend').textContent = item.rating;
        }
        else
        {
            disable(clone, '.rating.friend');
        }

        /* minha lista */

        if (!item.ml_watchlist || item.ml_watched)
        {
            disable(clone, '.watchlist.me');
        }

        disable(clone, '.watched.me', !item.ml_watched);
        disable(clone, '.liked.me', !item.ml_liked);

        if (item.ml_rating)
        {
            clone.querySelector('.rating.me').textContent = item.ml_rating;
        }
        else
        {
            disable(clone, '.rating.me');
        }

        container.appendChild(clone);
    });
}

document.querySelectorAll('#watchlist_checkbox, #watched_checkbox, #liked_checkbox, #rating_checkbox').forEach(item =>
{
    item.addEventListener('click', () =>
    {
        if (item.checked)
        {
            searchParams.set(item.dataset.filter, 1);
        }
        else
        {
            searchParams.delete(item.dataset.filter);
        }

        getJSON();
    });
});

getJSON();

</script>