<div id="best-rated">
    <h1>Melhores jogos avaliados por usuários do site</h1>
    <div class="container"></div>
</div>
<template>
    <div class="item flex_row">
        <div class="image">
            <a>
                <img />
            </a>
        </div>
        <div>
            <div class="title"></div>
        </div>
    </div>
</template>
<script>

const container = document.querySelector('#best-rated .container');
const template = document.querySelector('template');
const url = new URL('api/v1/games/best-rated', document.baseURI);

const render = function({ games })
{
    container.innerHTML = '';

    games.forEach(item =>
    {
        const clone = template.content.cloneNode(true);
        clone.querySelector('a').href = `game/${item.id}/${item.title}`;
        clone.querySelector('img').src = item.media?.trim() ? `images/games/256/${item.media}.webp` : 'noimage.png';
        clone.querySelector('.title').textContent =  `${item.title} (${item.release_year})`;

        container.appendChild(clone);
    });
}

getJSON();

</script>