<form class="forms">
    <div class="image">
        <img alt="" height="256" id="media" src="" />
    </div>
    <input name="title" placeholder="Título" type="text" />
    <input name="developer" placeholder="Desenvolvedor" type="text" />
    <input name="genres" placeholder="Gêneros" type="text" />
    <input name="release_year" placeholder="Ano de lançamento" type="number" />
    <input name="steam" placeholder="Link Steam" type="text" />
    <button type="submit">Atualizar</button>
</form>


<script>

const game_id = routeSegments[1];
const url = new URL(`api/v1/game/${game_id}`, document.baseURI);
const media = document.querySelector('#media');
const form = document.querySelector('form.forms');
const submit = form.querySelector('[type="submit"]');

const render = function(item)
{
    media.src = item.media?.trim() ? `images/games/256/${item.media}.webp` : 'noimage.png';
    form.elements['title'].value = item.title,
    form.elements['developer'].value = item.developer,
    form.elements['genres'].value = item.genres,
    form.elements['release_year'].value = item.release_year,
    form.elements['steam'].value = item.steam;
}

form.addEventListener('submit', e =>
{
    e.preventDefault();
    submit.disabled = true;

    sendJSON('put', `api/v1/game/${game_id}`, Object.fromEntries(new FormData(form)))
    .then(json =>
    {
        if (json.hasOwnProperty('status'))
        {
            notification(json.status, {success: 'Sucesso.', failure: 'Falha.'});
        }

        submit.disabled = false;
    })
    .catch(error =>
    {
        submit.disabled = false;
        console.error(error);
    });
});

getJSON();

</script>