<div id="gamelist">
    <div class="pagination">
        <div class="content">
            <button class="previous" type="button">Anterior</button>
            <button class="next" type="button">Próximo</button>
        </div>
    </div>
    <div class="container"></div>
</div>
<template>
    <div class="item">
        <div class="image">
            <a>
                <img />
            </a>
        </div>
        <div class="content flex_row">
            <div class="title"></div>
            <a class="update" target="_blank">Editar</a>
        </div>
    </div>
</template>

<script>

const list = new ContentList(
{
    url: 'api/v1/gamelist/added',
    containerSelector: '#gamelist .container',
    templateSelector: 'template',
    pagination: true,
    render: (json, container, template) =>
    {
        const items = json.games || [];

        container.innerHTML = '';

        items.forEach(item =>
        {
            const clone = template.content.cloneNode(true);
            
            clone.querySelector('.image a').href = `game/${item.id}/${item.title_url}`;
            clone.querySelector('.image img').src = (item.media == '') ? 'noimage.png' : `images/games/256/${item.media}.webp`;
            clone.querySelector('.title').textContent =  item.title;
            clone.querySelector('.update').href = `game/update/${item.id}`;

            container.appendChild(clone);
        });
    }
});

list.init();

document.querySelector('.pagination .next').addEventListener('click', () => list.next());
document.querySelector('.pagination .previous').addEventListener('click', () => list.previous());

</script>