<form class="forms">
    <input name="title" placeholder="Título" required="required" type="text" />
    <input name="developer" placeholder="Desenvolvedor" required="required" type="text" />
    <input name="genres" placeholder="Gêneros" type="text" />
    <input name="release_year" placeholder="Ano de lançamento" required="required" type="number" />
    <input name="steam" placeholder="Link Steam" type="text" />
    <button type="submit">Adicionar</button>
</form>

<script>

const url = new URL(`api/v1/game`, document.baseURI);
const form = document.querySelector('form.forms');

addForm(form);

</script>