<div id="gamelist">
    <div class="pagination">
        <button class="previous" type="button">Anterior</button>
        <button class="next" type="button">Próximo</button>
    </div>
    <div class="container"></div>
</div>
<template>
    <div class="item">
        <div class="image">
            <a>
                <img />
            </a>
        </div>
        <div class="content flex_row">
            <div class="game_id"></div>
            <div class="title"></div>
            <div class="release_year"></div>
            <a class="update" target="_blank">Editar</a>
        </div>
    </div>
</template>

<script>

const query = new URLSearchParams(location.search);
const container = document.querySelector('#gamelist .container');
const template = document.querySelector('template');
const url = new URL('api/v1/gamelist', document.baseURI);
const searchParams = url.searchParams;
var offset = query.has('offset') ? Number(query.get('offset')) : 0;
var previous_offset;
var next_offset;

const render = function(json)
{
    previous_offset = json.previous_offset;
    next_offset = json.next_offset;

    container.innerHTML = '';

    json.games.forEach(item =>
    {
        const clone = template.content.cloneNode(true);
        
        clone.querySelector('.image a').href = `game/${item.id}`;
        clone.querySelector('.image img').src = (item.media == '') ? 'noimage.png' : `images/games/256/${item.media}.webp`;
        clone.querySelector('.game_id').textContent =  `#${item.id}`;
        clone.querySelector('.title').textContent =  item.title;
        clone.querySelector('.release_year').textContent =  item.release_year;
        clone.querySelector('.update').href = `game/update/${item.id}`;

        container.appendChild(clone);
    });
}

searchParams.set('offset', offset);
getJSON();
pagination();

</script>