<link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<div id="home">
    <h1>Explore filmes e jogos, avalie, salve e compare com seus amigos.</h1>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper" id="movies_media"></div>
    </div>
</div>
<template>
    <div class="swiper-slide">
        <a href="">
            <img alt="" loading="lazy" src="" />
        </a>
    </div>
</template>

<script>

const list = new ContentList(
{
    url: 'api/v1/movies/random',
    containerSelector: '#movies_media',
    templateSelector: 'template',
    render: (json, container, template) =>
    {
        const items = json.movies || [];

        container.innerHTML = '';

        items.forEach(item =>
        {
            const clone = template.content.cloneNode(true);

            clone.querySelector('a').href = `movie/${item.id}/${item.title_url}`;
            clone.querySelector('img').alt = `Cartaz do filme ${item.title_br}`;
            clone.querySelector('img').src = `images/512/${item.media}.webp`;

            container.appendChild(clone);
        });

        const swiper = new Swiper('.mySwiper',
        {
            autoplay:
            {
                delay: 1000,
                disableOnInteraction: false,
            },
            slidesPerView: 'auto',
            spaceBetween: 5,
            freeMode: true
        });
    }
});

list.init();

</script>