<div id="login">
    <div class="advice">
        <ul>
            <li>
                <strong>🔒 Login seguro e sem complicações</strong>
                <span>Nada de criar mais uma senha. Com o login via Steam, você entra com um clique e mantém seus dados protegidos.</span>
            </li>
            <li>
                <strong>👾 Veja o que seus amigos estão assistindo e jogando</strong>
                <dspaniv>Ao se conectar com sua conta Steam, o NERDB identifica seus amigos da comunidade Steam e mostra como eles avaliaram filmes e jogos. Descubra quem curtiu Constantine, quem está jogando Overwatch 2, e quem tem gosto parecido com o seu.</span>
            </li>
            <li>
                <strong>🏆 Desbloqueie recursos exclusivo</strong>
                <span>Salve favoritos, monte listas, comente, participe de rankings e conquistas especiais dentro do site.</span>
            </li>
        </ul>
    </div>
    <div class="flex_row hcenter">
        <h2>Conecte-se com sua conta Steam</h2>
        <a class="steam_disconnected" href="auth?login" title="Entrar com a Steam">
            <img alt="" src="logo_steam.svg" />
        </a>
    </div>
</div>