<div id="movielist">
    <div class="pagination">
        <div class="content">
            <button class="previous" type="button">Anterior</button>
            <button class="next" type="button">Próximo</button>
        </div>
    </div>
    <div class="container"></div>
</div>
<template>
    <div class="item">
        <div class="image">
            <a>
                <img />
            </a>
        </div>
        <div class="content flex_row">
            <div class="movie_id"></div>
            <div class="title_br"></div>
            <div class="release_year"></div>
            <a class="update" target="_blank">Editar</a>
        </div>
    </div>
</template>

<script>

const list = new ContentList(
{
    url: 'api/v1/movielist',
    containerSelector: '#movielist .container',
    templateSelector: 'template',
    pagination: true,
    render: (json, container, template) =>
    {
        const items = json.movies || [];

        container.innerHTML = '';

        items.forEach(item =>
        {
            const clone = template.content.cloneNode(true);
            
            clone.querySelector('.image a').href = `movie/${item.id}`;
            clone.querySelector('.image img').src = (item.media == '') ? 'noimage.png' : `images/256/${item.media}.webp`;
            clone.querySelector('.movie_id').textContent =  `#${item.id}`;
            clone.querySelector('.title_br').textContent =  item.title_br;
            clone.querySelector('.release_year').textContent =  item.release_year;
            clone.querySelector('.update').href = `movie/update/${item.id}`;

            container.appendChild(clone);
        });
    }
});

list.init();

document.querySelector('.pagination .next').addEventListener('click', () => list.next());
document.querySelector('.pagination .previous').addEventListener('click', () => list.previous());

</script>