<form class="forms">
    <input name="title_br" placeholder="Título em português" required="required" type="text" />
    <input name="title_us" placeholder="Título em inglês" required="required" type="text" />
    <input name="director" list="directors" placeholder="Diretor" required="required" type="text" />
    <input name="genres" placeholder="Gêneros" type="text" />
    <input name="release_year" placeholder="Ano de lançamento" required="required" type="number" />
    <input name="imdb" placeholder="Link IMDB" type="text" />
    <button type="submit">Adicionar</button>
</form>

<script>

const url = new URL(`api/v1/movie`, document.baseURI);
const form = document.querySelector('form.forms');

addForm(form);
get_directors();

</script>