<form class="forms" id="update_movie">
    <div class="image">
        <img alt="" height="256" id="media" src="" />
    </div>
    <label>Título em português</label>
    <input name="title_br" placeholder="Título em português" type="text" />
    <label>Título em inglês</label>
    <input name="title_us" placeholder="Título em inglês" type="text" />
    <label>Diretor</label>
    <input name="director" list="directors" placeholder="Diretor" type="text" />
    <label>Gêneros</label>
    <input name="genres" placeholder="Gêneros" type="text" />
    <label>Ano de lançamento</label>
    <input name="release_year" placeholder="Ano de lançamento" type="number" />
    <label>Link para o IMDB</label>
    <input name="imdb" placeholder="Link IMDB" type="text" />
    <!--<button id="button_dialog_open" type="button">Elenco</button>-->
    <button type="submit">Atualizar</button>
</form>
<!--
<dialog id="dialog_cast">
    <form class="flex_row" id="update_cast">
        <div class="flex_column">
            <div class="flex_row flex">Nome do ator</div>
            <div class="flex_row flex">Personagem</div>
        </div>
        <div class="container"></div>
        <button id="button_cast_add" type="button">Adicionar personagem</button>
        <button id="button_dialog_close" type="button">Fechar</button>
        <button type="submit">Atualizar</button>
    </form>
</dialog>
<template id="template_cast">
    <div class="flex_column">
        <input class="id" name="id[]" type="hidden" value="null" />
        <input class="name" list="people" name="name[]" placeholder="Nome do ator" type="text" />
        <input class="character" name="character[]" placeholder="Personagem" type="text" />
    </div>
</template>
-->

<script>

const movie_id = routeSegments[2];
const url = new URL(`api/v1/movie/${movie_id}`, document.baseURI);
const media = document.querySelector('#media');
const form = document.querySelector('#update_movie');
const dialog = document.querySelector('#dialog_cast');
const container = document.querySelector('#dialog_cast .container');
const template = document.querySelector('#template_cast');

const render = function(item)
{
    media.src = item.media?.trim() ? `images/256/${item.media}.webp` : 'noimage.png';
    form.elements['title_br'].value = item.title_br,
    form.elements['title_us'].value = item.title_us,
    form.elements['director'].value = item.director,
    form.elements['genres'].value = item.genres,
    form.elements['release_year'].value = item.release_year,
    form.elements['imdb'].value = item.imdb;

    /*
    item.cast.forEach(item =>
    {
        const clone = template.content.cloneNode(true);
        clone.querySelector('.id').value = item.id;
        clone.querySelector('.name').value = item.name;
        clone.querySelector('.character').value = item.movie_character;
        container.appendChild(clone);
    });
    */
}

/*
document.querySelector('#button_dialog_open').addEventListener('click', () => dialog.showModal());
document.querySelector('#button_dialog_close').addEventListener('click', () => dialog.close());

document.querySelector('#button_cast_add').addEventListener('click', () =>
{
    const clone = template.content.cloneNode(true);
    container.appendChild(clone);
});

document.querySelector('#update_cast').addEventListener('submit', e =>
{
    const url = new URL(`api/v1/movie/cast/${movie_id}`, document.baseURI);
    const submit = e.target.querySelector('[type="submit"]');

    e.preventDefault();
    submit.disabled = true;

    const formData = new FormData(e.target);
    const grouped = {};

    for (const [key, value] of formData.entries())
    {
        if (key.endsWith('[]'))
        {
            const cleanKey = key.slice(0, -2);
            
            if (!grouped[cleanKey])
            {
                grouped[cleanKey] = [];
            }

            grouped[cleanKey].push(value);
        }
    }

    const body =
    {
        cast: grouped.id.map((_, i) =>
        {
            return Object.fromEntries(
                Object.keys(grouped).map(key => [key, grouped[key][i]])
            );
        })
    };
    
    requestJSON(url, 'post', body)
    .then(json =>
    {
        if (json.hasOwnProperty('status'))
        {
            notification(json.status, {success: 'Sucesso.', failure: 'Falha.'});
        }

        submit.disabled = false;
    })
    .catch(error =>
    {
        submit.disabled = false;
        console.error('Erro ao carregar:', error);
    });
});
*/

updateForm(form);
getJSON();
get_directors();
//get_people();

</script>