<div class="pagination">
    <button class="previous" type="button">Anterior</button>
    <button class="next" type="button">Próximo</button>
</div>
<div class="flex_row" id="movies"></div>
<template>
    <div class="info flex_column">
        <div class="image">
            <a href="">
                <img alt="" src="" />
            </a>
        </div>
        <div class="flex_row">
            <div class="movie_id"></div>
            <div class="title_br"></div>
            <div class="director"></div>
            <div class="release_year"></div>
            <a class="update" href="" target="_blank">Editar</a>
        </div>
    </div>
</template>

<script>

const container = document.querySelector('#movies');
const template = document.querySelector('template');
const url = new URL('api/v1/movies', document.baseURI);
const searchParams = url.searchParams;

const render = function({ movies })
{
    container.innerHTML = '';

    movies.forEach(item =>
    {
        const clone = template.content.cloneNode(true);
        
        clone.querySelector('.image a').href = `movie/${item.id}`;
        clone.querySelector('.image img').src = (item.media == '') ? 'noimage.png' : `images/256/${item.media}.webp`;
        clone.querySelector('.movie_id').textContent =  `#${item.id}`;
        clone.querySelector('.title_br').textContent =  item.title_br;
        clone.querySelector('.director').textContent =  item.director;
        clone.querySelector('.release_year').textContent =  item.release_year;
        clone.querySelector('.update').href = `movie/update/${item.id}`;

        container.appendChild(clone);
    });
}

async function main()
{
    const response = await fetch('api/v1/movies/count');
    const { total } = await response.json();
    const PAGE_SIZE = 100;
    let offset = 0;

    document.querySelectorAll('.pagination button').forEach(item =>
    {
        item.addEventListener('click', () =>
        {
            if (item.className == 'previous')
            {
                offset -= PAGE_SIZE;

                if (offset < 0)
                {
                    offset = 0;
                    return;
                }
            }
            else if (item.className == 'next')
            {
                offset += PAGE_SIZE;

                if (offset >= total)
                {
                    offset -= PAGE_SIZE;
                    return;
                }
            }
            
            searchParams.set('offset', offset);
            getJSON();
        });
    });
}

searchParams.set('offset', 0);
getJSON();
main();

</script>