<form class="forms" id="update_movie">
    <div class="image">
        <img alt="" height="256" id="media" src="" />
    </div>
    <label>Título em português</label>
    <input name="title_br" placeholder="Título em português" type="text" />
    <label>Título em inglês</label>
    <input name="title_us" placeholder="Título em inglês" type="text" />
    <label>Diretor</label>
    <input name="director" list="directors" placeholder="Diretor" type="text" />
    <label>Gêneros</label>
    <input name="genres" placeholder="Gêneros" type="text" />
    <label>Ano de lançamento</label>
    <input name="release_year" placeholder="Ano de lançamento" type="number" />
    <label>Link para o IMDB</label>
    <input name="imdb" placeholder="Link IMDB" type="text" />
    <button type="submit">Atualizar</button>
</form>

<script>

const movie_id = routeSegments[2];
const url = new URL(`api/v1/movie/${movie_id}`, document.baseURI);
const media = document.querySelector('#media');
const form = document.querySelector('#update_movie');

const render = function(item)
{
    media.src = item.media?.trim() ? `images/256/${item.media}.webp` : 'noimage.png';
    form.elements['title_br'].value = item.title_br,
    form.elements['title_us'].value = item.title_us,
    form.elements['director'].value = item.director,
    form.elements['genres'].value = item.genres,
    form.elements['release_year'].value = item.release_year,
    form.elements['imdb'].value = item.imdb;
}

requestJSON(url)
.then(json =>
{
    render(json)
})
.catch(error =>
{
    console.error('Erro ao carregar:', error);
});

updateForm(url, form);
get_directors();


</script>