<div class="grid" id="movies"></div>
<template>
    <div class="item flex_column">
        <div class="image">
            <a href="">
                <img alt="" src="" />
            </a>
        </div>
        <div class="info flex_row">
            <div>
                <div class="title_br"></div>
            </div>
            <div class="flex_column">
                <div>Título em inglês:</div>
                <div class="title_us"></div>
            </div>
            <div class="flex_column">
                <div>Diretor:</div>
                <div class="director flex_column"></div>
            </div>
            <div class="flex_column">
                <div>Lançamento:</div>
                <div class="release_year"></div>
            </div>
            <div class="imdb">
                <a href="" target="_blank">IMDB</a>
            </div>
        </div>
    </div>
</template>

<script>

const query = new URLSearchParams(window.location.search);
const container = document.querySelector('#movies');
const template = document.querySelector('template');
const search = document.querySelector('#search');
const url = 'api/v1/movies';

const render = function(movies)
{
    container.innerHTML = '';

    movies.forEach(item =>
    {
        const clone = template.content.cloneNode(true);
        const directors = item.director.split(';');

        directors.forEach(director =>
        {
            const element = document.createElement('a');
            element.href = `movies?q=diretor:${director}`;
            element.textContent = director;
            clone.querySelector('.director').appendChild(element);
        });

        clone.querySelector('a').href = `movie/${item.id}`;
        clone.querySelector('img').src = item.media?.trim() ? `images/256/${item.media}.webp` : 'noimage.png';
        clone.querySelector('.title_br').textContent =  item.title_br;
        clone.querySelector('.title_us').textContent =  item.title_us;
        clone.querySelector('.release_year').textContent =  item.release_year;
        clone.querySelector('.imdb a').href =  `https://www.imdb.com/pt/title/${item.imdb}/`;

        container.appendChild(clone);
    });
}

search.addEventListener('submit', e =>
{
    e.preventDefault();

    const url = new URL(window.location);
    url.search = `q=${search.q.value}`;
    window.history.replaceState({}, '', url);

    search_movie(search.q.value);
});

if (query.has('q'))
{
    search.q.value = query.get('q');
    search_movie(query.get('q'));
}
else
{
    load_movies(`${url}?order=random`);

    document.title = 'Filmes aleatórios';
}

function search_movie(value)
{
    const filter = {'diretor': 'director', 'genero': 'genre'};
    const match = value.match(/^(diretor|genero):(.+)/);
    const params = new URLSearchParams();
    
    if (match)
    {
        params.append(filter[match[1]], match[2]);
        value = match[2];
    }
    else if (/^\d{4}$/.test(value))
    {
        params.append('release', value);
    }   
    else
    {
        params.append('search', value);
    }

    load_movies(`${url}?${params.toString()}`, render);
    document.title = value;
}

</script>