<div id="movielist">
    <div class="pagination">
        <button class="previous" type="button">Anterior</button>
        <button class="next" type="button">Próximo</button>
    </div>
    <div class="container"></div>
</div>
<template>
    <div class="item">
        <div class="image">
            <a>
                <img />
            </a>
        </div>
        <div class="content flex_row">
            <div class="title_br"></div>
            <div class="director"></div>
            <div class="release_year"></div>
            <a class="update" target="_blank">Editar</a>
        </div>
    </div>
</template>

<script>

const query = new URLSearchParams(location.search);
const container = document.querySelector('#movielist .container');
const template = document.querySelector('template');
const url = new URL('api/v1/movielist/added', document.baseURI);
const searchParams = url.searchParams;
var offset = query.has('offset') ? Number(query.get('offset')) : 0;
var previous_offset;
var next_offset;

const render = function(json)
{
    previous_offset = json.previous_offset;
    next_offset = json.next_offset;
    
    container.innerHTML = '';

    json.movies.forEach(item =>
    {
        const clone = template.content.cloneNode(true);
        
        clone.querySelector('.image a').href = `movie/${item.id}/${item.title_url}`;
        clone.querySelector('.image img').src = (item.media == '') ? 'noimage.png' : `images/256/${item.media}.webp`;
        clone.querySelector('.title_br').textContent =  item.title_br;
        clone.querySelector('.update').href = `movie/update/${item.id}`;

        container.appendChild(clone);
    });
}

searchParams.set('offset', offset);
getJSON();
pagination();

</script>